.boxcards{
  display: flex;
  justify-content: space-around;
}
.cards{
  display: flex;
  flex-direction: column;
  width:400px ;
  height: max-content;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cards > h2{
  font-size: 45px;
}
.cards > div{
  display: flex;
  gap: 10px;
  
}
.cards > h3{
  display: flex;
  justify-content: end;
}

#red{
  background-color: rgb(235, 98, 98);
}
#green{
  background-color: rgb(129, 216, 129);
}
#black{
  background-color: rgb(119, 114, 114);
}
.containerPeole{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;

}
.people{
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
width: 200px;
padding: 15px;
border-radius: 5px;

}
.containerPokemon{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.cartPokemon{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  width: 200px;
border: 1px solid black ;
border-radius: 5px;
background: rgb(255,255,255);
background: linear-gradient(81deg, rgba(255,255,255,0.21060924369747902) 0%, rgba(100,0,241,1) 100%);
}

.buttonPokemon{
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

